<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="defaultInit" default-destroy-method="defaultDestroy">


	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>


	<bean class="com.epam.botor.domain.LightSabre" id="lightSabre" 
			init-method="init" destroy-method="destroy2">
		<constructor-arg value="LightSabre" />
		<constructor-arg value="100" />
	</bean>

	<bean class="com.epam.botor.domain.LightSabre" id="redSabre" lazy-init="true">
		<constructor-arg value="red sabre" />
		<constructor-arg value="1000" />
	</bean>

	<bean class="com.epam.botor.domain.LightSabre" id="blueSabre" scope="prototype">
		<constructor-arg value="blue sabre" />
		<constructor-arg value="1000" />
	</bean>

	
	<bean class="com.epam.botor.domain.Jedi" id="joda">
		<constructor-arg value="Joda"/>
		<constructor-arg value="MALE"/>
		<constructor-arg ref="lightSabre"/>
	</bean>

	<bean class="com.epam.botor.domain.Jedi" id="obiVanKenobi">
		<constructor-arg value="Obi Van Kenobi"/>
		<constructor-arg value="MALE"/>
		<constructor-arg ref="lightSabre"/>
	</bean>

	<bean class="com.epam.botor.domain.Jedi" id="darthVader">
		<constructor-arg value="Darth Vader"/>
		<constructor-arg value="MALE"/>
		<constructor-arg ref="lightSabre"/>
	</bean>

	
	<bean class="com.epam.botor.domain.Jedi" factory-method="createJediMaster" id="sidius">
		<constructor-arg value="Sidius"/>
		<constructor-arg ref="darthVader"/>
	</bean>

	
	<bean class="com.epam.botor.domain.LightSabre" factory-bean="obiVanKenobi"  factory-method="createUglyLightSabre" id="uglyLightSabre">
		<constructor-arg value="1000"/>
	</bean>
	
</beans>

