<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="com.epam.botor.domain.LightSabre" id="lightSabre">
		<constructor-arg value="LightSabre" />
		<constructor-arg value="100" />
	</bean>

	<bean class="com.epam.botor.domain.LightSabre" id="redSabre" lazy-init="true">
		<constructor-arg value="red sabre" />
		<constructor-arg value="1000" />
	</bean>

	<bean class="com.epam.botor.domain.LightSabre" id="blueSabre" scope="prototype">
		<constructor-arg value="blue sabre" />
		<constructor-arg value="1000" />
	</bean>

	
	<bean class="com.epam.botor.domain.Jedi" id="joda">
		<constructor-arg ref="lightSabre"/>
	</bean>

	<bean class="com.epam.botor.domain.Jedi" id="obiVanKenobi">
		<constructor-arg ref="lightSabre"/>
	</bean>

	
	
	
</beans>
